<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Empleado</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
			<a th:href="@{/}" class="btn btn-info">Inicio</a>
			<form th:action="@{/save}" th:object=${empleado} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Los datos del empleado</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>ID</label> <input th:field="*{id}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>DNI</label> <input th:field="*{dni}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>NOMBRE</label> <input th:field="*{nombre}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>SEXO</label> <input th:field="*{sexo}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Categoría</label> <input th:field="*{categoria}"
								type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>Años trabajados</label> <input th:field="*{anyos}"
								type="text" class="form-control" />
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>