<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Empleados</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
	<h1>Empleados ficticios de nuestra maravillosa empresa</h1>
	<div class="col-sm-6">
		<a th:href="@{/new/}" class="btn btn-primary">Crear empleado</a>
		<a th:href="@{/listar/}" class="btn btn-warning">Listar</a>
		<a th:href="@{/buscarSalario/}" class="btn btn-secondary">Ver salario</a>
		<a th:href="@{/buscar/}" class="btn btn-danger">Buscar</a>
	</div>
	</div>
</body>
</html>