<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Lista de empleados</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/}" class="btn btn-info">Inicio</a>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>DNI</th>
				<th>SEXO</th>
				<th>CATEGORIA</th>
				<th>AÑOS DE TRABAJO</th>
				<th>ACIONES</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="empleado:${empleados}">
				<td th:text=${empleado.id}></td>
				<td th:text=${empleado.nombre}></td>
				<td th:text=${empleado.dni}></td>
				<td th:text=${empleado.sexo}></td>
				<td th:text=${empleado.categoria}></td>
				<td th:text=${empleado.anyos}></td>
				<td>
					<form th:action="@{/editar}" method="POST">
		     			<input type="hidden" class="form-control" name="id" th:value="${empleado.id}"/>
					    <input type="submit" value="Actualizar" class="btn btn-success">
					</form>
					<form th:action="@{/verSalario}" method="POST">
		     			<input type="hidden" class="form-control" name="dni" th:value="${empleado.dni}"/>
					    <input type="submit" value="Ver salario" class="btn btn-secondary">
					</form>
					<a th:onclick="eliminar([[${empleado.id}]])" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>	
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="functions.js"></script>
</body>
</html>